.project-card, .exp-card {
    position:relative; 
    z-index:1; 
    display:flex; 
    gap:20px; 
    background-color:rgb(23, 2, 49); 
    padding:50px; 
    color:white; 
    border-radius:20px; 
    box-shadow:0 0px 15px rgb(31, 215, 247); 
    transition: ease-in-out 0.25s; 
    height:auto;
}

.title {
    font-size:2rem; 
    font-weight:bold; 
}

.skills, .company {
    font-style:italic; 
    line-height:2; 
}

.desc-list {
    margin:0px; 
    padding:10px; 
}

.project-card:hover, .exp-card:hover {
    transform:scale(1.05); 
    box-shadow:0 0px 25px rgb(192, 214, 218); 
}

.project-links {
    bottom:5px; 
    display:flex; 
    height:70px; 
    align-items:center; 
    gap:10px; 
}

.demo {
    padding:5px; 
    font-style:bold; 
    text-decoration:none; 
    color:rgb(31, 215, 247); 
    border:2px solid rgb(31, 215, 247); 
    border-radius:10px; 
    background-color:rgb(3, 3, 3); 
    transition: ease-in-out 0.25s; 
}

.demo:hover {
    background-color: rgb(31, 215, 247); 
    color:black; 
}

.project-img {
    border: 5px rgba(31, 215, 247, 0.8) solid; 
    border-radius:10px; 
}

/* responsive  design */

/* Phones */
@media (max-width: 700px) {
    .project-card, .exp-card {
        padding:15px; 
    }
}