

.links {
    margin:0px; 
    padding:0px; 
    display:flex; 
    gap:30px; 
}

.nav-container {
  height:100%; 
  padding:0 30px; 
  color:white; 
  align-items:center; 
  display:flex; 
  justify-content:space-between; 
  background-color:rgba(2, 6, 47, 0.5); 
}

.name {
    display:flex; 
    align-items:center; 
    gap:20px; 
    font-weight:bold; 
    font-size:1.5rem; 
}

.links > div {
    box-sizing:border-box; 
    margin:0px; 
    height:100%; 
}

.links > div > a {
    padding:20px; 
    text-decoration:none; 
    background-color:rgb(33, 19, 82);
    border-radius:20px;  
    color:white; 
}

.links > div > a:hover {
    transition: ease-in-out 0.25s; 
    background-color:rgb(49, 28, 124); 
    box-shadow:0 0px 15px rgb(31, 215, 247); 
    
}

@media (max-width: 1100px) {
    .links > div > a {
        padding:20px; 
    }
    .links {
        gap:20px; 
    }
    .nav-container {
        gap:10px; 
    }
  
}

@media (max-width: 700px) {
    .links > div > a {
        padding:9px; 
    }
    .links {
        gap:5px; 
    }

    .name-text {
        display:none; 
    }
    .nav-container {
        gap:0px; 
        padding: 0px 5px; 
    }
    .name {
        gap:0px;
    }
  
}
