@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin:0px; 
  font-family: 'Inter', sans-serif; 
}

.page-container {
    display:grid; 
    grid-template-rows: 100px 1fr; 
    min-height:100vh; 
    background-color:rgb(33, 19, 82);
}

.content-container {
  background-color:rgb(33, 19, 82); 
  height:100%; 
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

#header {
  height:calc(100vh - 100px); 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  color:white; 
}

.intro {
  font-size:5rem; 
  font-weight:bold; 
}

.intro-sub {
  font-size:2rem; 
}

#header {
  text-align:center; 
}

#project-container, #exp-container, #contact-container {
  padding:20px 200px;
  display:grid; 
  grid-template-columns:repeat(auto-fit, minmax(700px, 1fr));
  gap:40px; 
  background-color:rgb(33, 19, 82); 
}

h2 {
  color:white; 
  font-size:3rem;
  margin-bottom:10px;  
  padding:20px 200px; 
}

#nav {
  position:sticky; 
  top:0; 
  z-index:1000; 
}

#contact-container {
   
  color:white; 
  font-size:1.25rem; 

}

.contact-links {
  background-color:rgba(2, 6, 47, 0.8);
  display:flex; 
  gap:20px; 
  align-items:center; 
  z-index:1; 
  position:relative; 
  justify-content:space-evenly; 
  padding:20px; 
  border-radius:20px; 
  
}

.contact-links > div {
  font-weight:bold; 
  color:rgb(31, 215, 247); 
  display:flex; 
  align-items:center; 
  gap:10px; 

}

