@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin:0px; 
  font-family: 'Inter', sans-serif; 
}

.page-container {
    display:grid; 
    grid-template-rows: 100px 1fr; 
    min-height:100vh; 
    background-color:rgb(33, 19, 82);
}

.content-container {
  background-color:rgb(33, 19, 82); 
  height:100%; 
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

#header {
  height:calc(100vh - 100px); 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  color:white; 
}

.intro {
  font-size:5rem; 
  font-weight:bold; 
}

.intro-sub {
  font-size:2rem; 
}

#header {
  text-align:center; 
}

#project-container, #exp-container, #contact-container {
  padding:20px 200px;
  display:grid; 
  gap:30px; 
  background-color:rgb(33, 19, 82); 
}

h2 {
  color:white; 
  font-size:3rem; 
}

#nav {
  position:sticky; 
  top:0; 
  z-index:1000; 
}

#contact-container {
  color:white; 
  font-size:1.25rem; 

}
.contact-links {
  display:flex; 
  gap:20px; 
  align-items:center; 

}



