.links {
    display:flex; 
    gap:20px; 
}

.nav-container {
  height:100%; 
  padding:0 30px; 
  color:white; 
  align-items:center; 
  display:flex; 
  justify-content:space-between; 
  background-color:rgb(2, 6, 47); 
}

.name {
    font-weight:bold; 
    font-size:1.5rem; 
}

.links > div {
    height:100%; 
}

.links > div > a {
    text-decoration:none; 
    color:white; 
}

.links > div > a:hover {
    background-color:rgb(105, 105, 105); 
}
